{% extends "layout.html" %}
{% block content %}

      <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
        <h2>About</h2>
        </div>
          <p class="article-content">
              It all started with my brother showing me how using a service allowed him to receive email notifications once the recipient viewed his email. I thought about how it could have been implemented and decided to create it. Notified.tk tries to provide a subtle way of receiving notifications while minimizing the amount of information you need to provide to use the service. Since this is a free service, access is currently limited to friends, family, and associates. I hope Notified.tk helps ease your mind when an important email is sent. Enjoy!
          </p>
      </div>
    </article>
    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
        <h2>How it works</h2>
        </div>
          <p class="article-content">
              When you create a notification, a unique html code is generated that looks like so...
              <br><input type="text" class="form-control" value="<img src='https://notified.tk/1/fYYw8Q'>">
              <a href="{{ url_for('main.howto') }}">You then embed the above html code into an email before sending.</a>
              <br>Once the recipient opens the email, their browser will request to load the unique image from notified.tk
              <br>notified.tk will return the image and secretly notify you.
              <br>The recipient will either see no image (a transparent image) or your custom image.
          </p>
      </div>
    </article>
{% endblock content %}
