{% extends "layout.html" %}
{% block content %}
<div class="content-section">
  <!-- FORM STARTS HERE -->
        <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Account Info</legend>
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="input-group">
                        {{ form.email(class="form-control form-control-lg") }}
                             <div class="input-group-prepend">
                                 <a class="btn btn-info" href="{{ url_for('users.update_email') }}">Update</a>
                            </div>
                              </div>
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.phone_sms.label(class="form-control-label") }}
                    {% if form.phone_sms.errors %}
                        {{ form.phone_sms(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.phone_sms.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                              <div class="input-group">
                        {{ form.phone_sms(class="form-control form-control-lg") }}
                             <div class="input-group-prepend">
                                 <a class="btn btn-info" href="{{ url_for('users.phone_sms_setup') }}">Update</a>
                            </div>
                              </div>
                    {% endif %}
                </div>
                <div class="form-group">
                    <a class="btn btn-info float-right" href="{{ url_for('users.update_password') }}">Change Password</a>
                </div>
                <br><br>

<!-- start of accordian -->
            <div class="card float-right">
              <div class="card-header">Update Email Image</div>
              <div class="card-body">
                                  <div class="form-group">
                    <img src="{{ image_file }}">
                    {{ form.image(class="form-control-file") }}
                    {% if form.image.errors %}
                        {% for error in form.image.errors %}
                            <span class="text-danger">{{ error }}</span></br>
                        {% endfor %}
                    {% else %}
                        <small>Attention: Changing your image will retroactively change the image on any previous emails sent.</small>
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.image_size.label(class="form-control-label") }}
                    {% if form.image_size.errors %}
                        {{ form.image_size(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.image_size.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.image_size(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.password.label(class="form-control-label") }}
                    {% if form.password.errors %}
                        {{ form.password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
              </div>

            </div>
            </fieldset>
        <br>
        </form>
</div>
{% endblock content %}
