{% extends "layout.html" %}
{% block scripts %}
    <script type = "text/javascript" src="{{ url_for('static', filename='js/utils.js') }}"></script>
{% endblock scripts %}
{% block content %}
    <h3 class="mb-3 text-muted">All Users</h3>
    {% if users %}
        {% for user in users.items %}
            <article class="media content-section">
              <div class="media-body">
                <div class="article-metadata">
                  <small class="text-muted"><span class="utc_date">{{ user.created_at}}</span></small>
                </div>
                  <h2><a class="article-title" href="{{ url_for('users.admin_user_notifications', email=user.email) }}">{{ user.email }}</a></h2>
                <p class="article-content">Text: {{ user.phone_sms }}</p>
                  <p class="article-content"><small class="text-muted">Last Signin: <span class="utc_date">{{ user.last_signin }}</span></small></p>
              </div>
            </article>
        {% endfor %}

    {% else %}
        <h2>There are no users...</h2>
    {% endif %}
{% endblock content %}
