{% extends "layout.html" %}

{% block scripts %}
    <script type = "text/javascript" src="{{ url_for('static', filename='js/utils.js') }}"></script>
{% endblock scripts %}

{% block content %}

      <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
        <h2>Contact</h2>
        </div>
          <p class="article-content">
            <h3 align="center" class="text-muted">Emmanuel</h3>
            <h4 align="center"><i><span id="e9uefu9a">Notified.tk</span></i></h4>
          </p>
      </div>
    </article>
{% endblock content %}
