{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">{{ form.legend.label(class="form-control-label") }}</legend>
                <!-- label -->
                <div class="form-group">
                    {{ form.label.label(class="form-control-label") }}
                    {% if form.label.errors %}
                        {{ form.label(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.label.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.label(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <!-- message -->
                <div class="form-group">
                    {{ form.message.label(class="form-control-label") }}
                    {% if form.message.errors %}
                        {{ form.message(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.message.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.message(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <!-- sms_alert -->
                <div class="form-group">
                    {{ form.sms_alert.label(class="form-control-label") }}
                    {% if form.sms_alert.errors %}
                        {{ form.sms_alert(class="form-control form-control-md is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.sms_alert.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.sms_alert(class="form-control form-control-md") }}
                    {% endif %}
                </div>
                <!-- display_image -->
            {% if form.display_image %}
                <div class="form-group">
                    {{ form.display_image.label(class="form-control-label") }}
                    {% if form.display_image.errors %}
                        {{ form.display_image(class="form-control form-control-md is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.display_image.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.display_image(class="form-control form-control-md") }}
                    {% endif %}
                </div>
            {% endif %}
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock content %}
