{% extends "layout.html" %}
{% block scripts %}
    <script type = "text/javascript" src="{{ url_for('static', filename='js/utils.js') }}"></script>
{% endblock scripts %}

{% block content %}
        {% if notifications %}
                <h2>Notifications</h2>
            {% if notifications.items == [] %}
              <article class="media content-section">
              <div class="media-body">
                <div class="article-metadata">
                <h4>No Notifications Set</h4>
                </div>
                  <p class="article-content"><a href="{{ url_for('notifications.new_notification') }}">Create notification?</a></p>
              </div>
            </article>
            {%  endif %}
        {% for notification in notifications.items %}
            <article class="media content-section">
              <div class="media-body">
                <div class="article-metadata">
                  <small class="text-muted"><span class="utc_date">{{ notification.created_at}}</span></small>
                </div>
                  <h3><a class="article-title" href="{{ url_for('notifications.notification', notification_id=notification.id) }}">{{ notification.label }}</a></h3>
                <p class="article-content">{{ notification.message }}</p>
                  <p class="article-content"><small class="text-muted">Views: {{ notification.alert_count }}
                      Last Viewed: <span class="utc_date">{{ notification.last_alert }}</span></small><a class="btn btn-info btn-sm m-1 float-right" href="{{ url_for('notifications.notification', notification_id=notification.id) }}">Inspect</a></p>
              </div>
            </article>
        {% endfor %}
        {% for page_num in notifications.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
          {% if page_num %}
            {% if notifications.page == page_num %}
              <a class="btn btn-info mb-4" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
            {% else %}
              <a class="btn btn-outline-info mb-4" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
            {% endif %}
          {% else %}
            ...
          {% endif %}
        {% endfor %}
    {% else %}
            <br><br><br>
            <h5 class="text-muted">Ever wondered if they viewed your email?</h5>
            <h1 align="center"><i>Notified.tk</i></h1>
        {% endif %}
{% endblock content %}
