{% extends "layout.html" %}

{% block scripts %}
    <script type = "text/javascript" src="{{ url_for('static', filename='js/utils.js') }}"></script>
{% endblock scripts %}

{% block content %}

      <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
        <h2>How-to</h2>
        </div>
          <p class="article-content">
        <div class="alert alert-warning" role="alert">
          <strong>Foreword</strong><br>I strongly encourage you to test this first with an email to yourself to see how it all works together and to test if your email provider does not sanitize foreign html on outbound emails. It is important to note that if a provider sanitizes outbound emails, it does not mean they sanitize inbound emails, so it will work the other way around. Sending an email from gmail will not work but receiving an email to gmail will work.
        </div>
          <div class="alert alert-warning" role="alert">
          This list is incomplete. If you discover that notified.tk works or does not work with another email provider, feel free to send an email to <i><span id="e9uefu9a">Notified.tk</span></i> and i'll update this list accordingly.
        </div>
          <div class="alert alert-success" role="alert">
              <strong>Works from...</strong>
              <br>- Protonmail
            </div>

          <div class="alert alert-danger" role="alert">
          <strong>Does not work from...</strong>
              <br>- Gmail
        </div>
          <h4 align="center"><a href="https://www.useloom.com/share/df5661ed9f0b4f4dabefe595fcc44357" target="_blank">How-To Video, click here</a></h4>
          </p>
      </div>
    </article>
{% endblock content %}
