{% extends "layout.html" %}

{% block scripts %}
    <script type = "text/javascript" src="{{ url_for('static', filename='js/utils.js') }}"></script>
{% endblock scripts %}


{% block content %}
    <article class="media content-section" xmlns:text-align="http://www.w3.org/1999/xhtml">
      <div class="media-body">
        <div class="article-metadata">
          <small class="text-muted"><span class="utc_date">{{ notification.created_at}}</span></small>
        </div>
        <h3><a class="article-title">{{ notification.label }}</a></h3>
        <p class="article-content">{{ notification.message }}</p>
                  <p class="article-content"><small class="text-muted">Views: {{ notification.alert_count }}
                      Last Viewed: <span class="utc_date">{{ notification.last_alert }}</span></small>
          <div class="article-metadata"></div>
          <p class="article-content"><small class="text-muted">Text Alert: {{ notification.sms_alert }}
              Custom Image: {{ notification.display_image }}</small></p>
          <p class="article-content"><div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" >HTML</span>
  </div><input type="text" class="form-control" value="<img src='https://notified.tk/{{ notification.id }}/{{ notification.token }}'>" id="myInput"></div>
              <button class="btn btn-primary btn-sm m-1" onclick="myFunction()">Copy HTML</button><a class="btn btn-link btn-sm m-1" href="{{ url_for('main.howto') }}" target="_blank">How to insert into email</a></p>

      </div>
    </article>
            <div>
                <a class="btn btn-info btn-sm m-1" href="{{ url_for('notifications.update_notification', notification_id=notification.id) }}">Update</a>
                <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
                <a class="btn btn-light btn-sm m-1" href="{{ url_for('main.home') }}">Home</a>
            </div>

      <!-- Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete Notification?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
          <div class="modal-body">
              <h5>{{ notification.label }}</h5>
          </div>
        <div class="modal-footer">

          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <form action="{{ url_for('notifications.delete_notification', notification_id=notification.id) }}" method="POST">
            <input class="btn btn-danger" type="submit" value="Delete">
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
