{% extends "layout.html" %}
{% block scripts %}
    <script type = "text/javascript" src="{{ url_for('static', filename='js/utils.js') }}"></script>
{% endblock scripts %}

{% block content %}
            <article class="media content-section">
              <div class="media-body">
                <div class="article-metadata">
                    <h3>Application Statistics</h3>
                </div>
                <p class="article-content">Total Users: {{ data.total_users }}</p>
                  <p class="article-content">Notifications created: {{ data.total_notifications }}</p>
                  <p class="article-content">Alerts sent: {{ data.total_alerts }}</p>
                  <p class="article-content">Last Alert: <span class="utc_date">{{ data.last_alert }}</span></p>
              </div>
            </article>

{% endblock content %}